<html>

<body>
    
    <div class="container" id="one">
   

        <table id = "tab">
            <tbody>
                <tr>
                    <div class="card-header" style="margin-top: 0.5cm; margin-bottom: 1cm; margin-left: 4cm;">
                        <h1><strong><p>HELLO ADMIN WELCOME TO FMS !! </p></strong></h1>
                    </div>
                </tr>
                <tr>
                    <div class="row">
                    
                        <button  (click) = "gotosearch()" class="btn btn-dark" id = "three">Search Flight</button>
                    
                    </div>
                </tr>
                <tr>
                    <div class="row">
                    
                        <button  (click) = "goToAddAirport()" class="btn btn-dark" id = "three"> Add Airport</button>
                    
                    </div>
                </tr>
                <tr>
                    <div class="row">
    
                        <button (click) = "goToAddFlight()" class="btn btn-dark" id="four">Add Flight</button>
    
                    </div>
                </tr>
                <tr>
                    <div class="row">
    
                        <button (click) = "addSchFlight()" class="btn btn-dark" id = "three"> Schedule a Flight</button>
                    
                    </div>
                </tr>
                <tr>
                    <div class="row">
    
                        <button (click) = "addSchFlight()" class="btn btn-dark" id="four">Modify a scheduled Flight</button>
                    
                    </div>
                </tr>

                <br><br><br>
            </tbody>
        </table>
    </div>

</body>

</html>