#one{

    border-radius: 02px;
    height: 1cm;
    background-color: darkslategrey;
    /* float: right; */

}

#myrow{

    
    padding-right: 10px;

}

#insideTable{

    border-radius: 5px;

}


#bH{
    float: left;
    margin-right: 15cm;
}

#two{

    margin-top: 1cm;

}