
<body>
    <nav class = "navbar navbar-default" id="three">
            <div class="" >
                <div class="row">
                    <h1>FLIGHT MANAGEMENT SYSTEM</h1>
                </div>
            </div>      
            
                
                <ul class="nav navbar-nav navbar-right" >
                        <div class="row">
                            <div class="column">
                                <button type="button"  color="primary" class="z-depth-5" (click) = "logOut()"><strong>LOG OUT</strong></button>
                            </div>
                        </div>
                </ul>
      </nav>
</body>