button{

    margin-left: 8cm;
    margin-top: 1cm;
    align-content: center;
    float: right;
    width: 10cm;
    height: 2.7cm;

}
p
{
    margin-bottom: 5cm;
}
#one{
    margin-left: 5cm;
    margin-right: 2cm;
}