<!-- <span *ngIf = "payStatus; then con01 else con02"></span>


<ng-template #con01>

  <div class="container">
    <div class="jumbotron">
      <button id="button1" name="bubtton1" > <a href="/dashboard"> GOTO DASHBOARD</a> </button>
      <button id="button2" name="bubtton2" > <a href="/viewBooking">VIEW BOOKINGS</a> </button>
    </div>
  </div>

</ng-template>

<ng-template #con02> -->


  <div class="card-body" id="dd">
    <strong><hr></strong>    
    <h3 class="card-header" id="six">ADD PASSENGER DETAILS</h3>

    
      <br><br>
        <form #fB="ngForm" (submit) = "addPassenger()" >
          <!-- *ngFor = " let i of passNum" -->
          <div class="row">
        <div class="column">
          <div class="form-row" >
            <div class="col-md-4 mb-3">   
              <label >NAME</label>
              <input type="text" placeholder="name" required [(ngModel)] ="name" name="name" class="form-control">
            </div>
          </div>
          <div class="form-row" >
            <div class="col-md-4 mb-3">   
              <label for="age">AGE</label>
              <input type="text" name="age" class="form-control" [(ngModel)] = "age" required placeholder="age">
            </div>
          </div>
          <div class="form-row" >
            <div class="col-md-4 mb-3">
              <label for="uin">UNIQUE ID</label>
              <input type="text"  class="form-control" name="uin" [(ngModel)]="uin" required placeholder="id">
            </div>
          </div>
        </div>
          <div class="column">
          
              <button class="btn btn-dark" type="submit">ADD PASSENGER</button>
              <br>
              <button class="btn btn-dark" type="submit" (click) ="doneBooking()" >PROCEED TO PAYMENT</button>
                          
        </div>
    
      </div>
        </form>
    

      <hr>
      <span *ngIf = "show; then con01"></span>
      <ng-template #con01>
      
      <div class="container" id = "five">
      <h3 class="card-header" id="six">PASSENGER DETAILS</h3>
      <table>
    
        <thead>
          <tr>
            <td>#</td>
            <td>NAME</td>
            <td>UID</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let i of passengerList; let j = index ">
            <td>{{j+1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.uin}}</td>
            <td><button class="btn btn-primary-dark" type="submit" >DELETE</button></td>
          </tr>
        </tbody>
    
      </table>
    </div>
    </ng-template>
  </div>
<!-- </ng-template> -->