<div class="container" id="one">
   

        <div class="card-header">
            <h1><strong><p>HELLO {{this.name}}! WELCOME TO FMS !! </p></strong></h1>
        </div>

        <div class="row">
            <div class="column">
            <button (click) = "booking()" class="btn btn-dark" id = "three"> VIEW BOOKING HISTORY</button>
        
        </div>
            <div class="column">

            <button (click) = "view()" class="btn btn-dark" id="four">SEARCH FLIGHTS</button>
            </div>
        </div>
   
</div>