#one{

    /* padding: 3cm; */
    margin-top: 2cm;
    margin-left: 5cm;
    margin-bottom: 5cm;
}

#three{

    float: left;
    height: 10cm;
    width: 10cm;
    background-color: darkslategray;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 150px;

}

#four{
    float: right;
    height: 10cm;
    width: 10cm;
    background-color: darkslategray;
    border-radius: 200px;
    margin-top: 10px;
    margin-right: 10px;
}
