#one{

    /* padding-right: 5cm; */
    /* padding-left: 0cm; */
    padding-bottom: 10cm;
    align-items: center;
}
.card
{
    align-content: center;
    /* text-align: center; */
    /* initial-letter-align: center; */
}