<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"> -->

</head>
<body>
    <nav class = "navbar navbar-default" id="three">
        <!-- <div class="container-md"> -->
            <div class="" >
                <div class="row">
                    <a href="#" class = ""><h1>FlightMangementSystem</h1></a>
                </div>
            </div>      
            
                
                <ul class="nav navbar-nav navbar-right" >
                    <span *ngIf = "loginStatus; then con01 else con02"></span>
                    <ng-template #con02>
                        <div class="row">
                        <div class="column">
                        <button type="button" id="two" (click) = "logIn()"  class="btn btn-light"><strong>LOG IN</strong></button>
                        </div>
                        <div class="column">
                        <button type="button" id="two" (click) ="signUp()" class="btn btn-light"><strong>SIGN UP</strong></button>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template #con01>
                        <button type="button"  class="btn btn-light" (click) = "logOut()"><strong>LOG OUT</strong></button>
                    </ng-template>
                    
                </ul>
        <!-- </div>  -->
      </nav>
    
 
  <!-- <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>     -->
</body>
</html>